@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("lenis.css");
@import url("fonts.css");
body {
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #000000; }

.container {
  max-width: 78.75vw;
  margin: auto;
  width: 100%;
  display: flex; }
  @media (max-width: 767px) {
    .container {
      max-width: none;
      padding: 0 15px; } }

.tabs {
  padding: 1.5625vw 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #d5d9dc;
  border-bottom: 1px solid #d5d9dc; }
  .tabs .container {
    gap: 15px; }
  .tabs--companies {
    background: #f1f2f3; }

.section-title {
  background: black;
  background: linear-gradient(90deg, black 0%, #ff1423 100%);
  padding: 2.0833333333vw 0;
  color: white;
  position: relative; }
  .section-title h2 {
    font-size: clamp(36px, 3.125vw, 72px);
    font-family: "Founders Grotesk";
    font-weight: 500;
    max-width: 50%;
    margin: 0;
    line-height: 1; }
    .section-title h2:after {
      content: "";
      display: block;
      margin-top: 0.5208333333vw;
      width: 60%;
      background-color: #ff1423;
      height: clamp(5px, 0.4166666667vw, 10px); }
  .section-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/section-lines.svg") center;
    right: 0;
    top: 0;
    mix-blend-mode: overlay;
    background-size: cover; }

.text-red {
  color: #ff1423; }

.header {
  background: rgba(241, 242, 243, 0.9);
  height: 84px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  backdrop-filter: blur(20px); }
  .header .container {
    justify-content: space-between;
    align-items: center; }
  .header .logo {
    width: clamp(200px, 13.90625vw, 300px); }
    .header .logo img {
      width: 100%; }
  .header--dark {
    background: rgba(0, 0, 0, 0.2); }
    .header--dark .nav .nav__item {
      color: white; }

.footer {
  padding: 70px 0;
  color: white;
  font-size: 14px;
  position: relative;
  background-color: #000000; }
  .footer .container {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1; }
  .footer .footer__logo {
    display: flex;
    width: 200px; }
    .footer .footer__logo img {
      height: auto;
      width: auto; }
  .footer .footer__nav ul {
    display: flex;
    gap: 10px; }
    .footer .footer__nav ul li a {
      font-size: 16px;
      color: #8b959e;
      text-decoration: none;
      text-transform: uppercase; }
      .footer .footer__nav ul li a:hover {
        color: white; }
  @media (max-width: 1024px) {
    .footer .footer__nav {
      display: none; } }
  .footer .subscribe {
    width: 100%;
    padding: 30px 0;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid #464b4f;
    border-bottom: 1px solid #464b4f; }
    .footer .subscribe h3 {
      font-size: clamp(16px, 1.0416666667vw, 24px);
      margin: 0;
      color: #8b959e;
      font-weight: 500; }
    .footer .subscribe p {
      font-size: clamp(14px, 0.8333333333vw, 18px);
      margin: 0; }
    .footer .subscribe__input {
      width: 31.25vw;
      background-color: white;
      border-radius: 50px;
      padding: 5px;
      display: flex; }
      .footer .subscribe__input input {
        flex: 1;
        border-radius: 50px;
        border: 0;
        padding-right: 65px;
        padding-left: 10px;
        font-size: 16px;
        outline: none; }
      .footer .subscribe__input button {
        background-color: #8b959e;
        color: white;
        border-radius: 50px;
        border: 0;
        padding: 10px 30px;
        margin-left: -60px; }
    @media (max-width: 1024px) {
      .footer .subscribe {
        display: none; } }
  .footer .copy a {
    color: #8b959e;
    margin-right: 10px; }
  .footer:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../images/footer-pattern.svg") no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 0;
    mix-blend-mode: hard-light;
    opacity: 0.7; }

.nav {
  display: flex;
  align-items: center; }
  .nav .nav__item {
    font-size: clamp(16px, 0.9375vw, 20px);
    padding: 0 10px;
    transition: 0.35s;
    text-transform: uppercase; }
    .nav .nav__item:hover {
      color: #ff1423; }
    .nav .nav__item--active {
      color: #ff1423; }
  @media (max-width: 1024px) {
    .nav {
      position: absolute;
      right: 0;
      flex-direction: column;
      top: 84px;
      width: 100%;
      background-color: black;
      max-height: 0;
      overflow: hidden; }
      .nav li {
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        text-align: right; } }

.button {
  background-color: white;
  font-size: clamp(16px, 0.9375vw, 20px);
  padding: 0 1.5625vw 0 clamp(48px, 3.6458333333vw, 120px);
  border-radius: 100px;
  position: relative;
  align-items: center;
  height: clamp(48px, 2.8645833333vw, 70px);
  border: 1px solid #d5d9dc;
  color: #000000;
  display: inline-flex; }
  .button:before {
    content: "";
    display: block;
    width: clamp(48px, 2.8645833333vw, 70px);
    height: clamp(48px, 2.8645833333vw, 70px);
    border-radius: 60px;
    background: url("../images/arrow.svg") no-repeat center #000000;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0; }
  .button:hover {
    color: #ff1423;
    border: 1px solid #ff1423; }
    .button:hover:before {
      content: "";
      background: url("../images/arrow.svg") no-repeat center #ff1423; }

.button__more {
  font-size: clamp(16px, 0.9375vw, 20px);
  color: #8b959e;
  display: flex;
  gap: clamp(10px, 0.5208333333vw, 14px);
  align-items: center; }
  .button__more:after {
    content: "";
    display: block;
    width: clamp(20px, 1.25vw, 28px);
    height: clamp(20px, 1.25vw, 28px);
    border-radius: clamp(20px, 1.25vw, 28px);
    background: url("../images/arrow.svg") no-repeat center #000000;
    background-size: 50%;
    padding: 0; }
  .button__more:hover {
    color: #000000; }

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000000;
  margin-top: -84px; }
  .hero .hero__image {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 0; }
    .hero .hero__image video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .hero .hero__image:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6); }
  .hero .hero__content {
    position: relative; }
    .hero .hero__content h1 {
      color: #ff1423;
      font-size: clamp(48px, 6.25vw, 140px);
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1;
      margin: 0;
      color: white; }
      .hero .hero__content h1 span {
        display: inline-block; }
        .hero .hero__content h1 span.red {
          color: #ff1423; }
  .hero .cohort {
    color: white;
    position: absolute;
    left: calc(50% + 3vw);
    bottom: 6.7708333333vw;
    font-size: 2.0833333333vw;
    font-family: "Founders Grotesk";
    font-weight: 500; }
    .hero .cohort span {
      color: #ff1423; }
  @media (max-width: 1024px) {
    .hero {
      height: 100vh; } }
  @media (max-width: 991px) {
    .hero {
      height: 80vh; } }

.about {
  background: #f1f2f3;
  display: flex;
  position: relative; }
  .about .container {
    position: relative; }
  .about .about__content {
    flex: 1;
    margin: 9.2708333333vw 0;
    position: relative;
    z-index: 1; }
    .about .about__content h2 {
      font-size: clamp(48px, 6.25vw, 140px);
      font-family: "Founders Grotesk";
      font-weight: 500;
      margin: 0;
      width: 75%;
      position: relative;
      line-height: 0.9;
      color: #ff1423;
      z-index: 3; }
      .about .about__content h2:after {
        content: "";
        display: block;
        width: 13.5416666667vw;
        height: 4px;
        background-color: #ff1423;
        margin: 30px 0;
        border-radius: 50px; }
    .about .about__content p {
      margin-top: 0;
      font-size: 1.25vw;
      font-size: clamp(18px, 1.25vw, 30px);
      line-height: 1.2;
      width: 32%;
      margin-bottom: 30px; }
  .about .about__image {
    position: absolute;
    flex: 1;
    height: calc(100% + 20vw);
    width: 50%;
    right: 0;
    background-color: #8b959e;
    margin: -5.2083333333vw -2.6041666667vw -3.6458333333vw 0;
    overflow: hidden; }
    .about .about__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: luminosity; }
  .about .about__image__overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%); }
    .about .about__image__overlay img {
      width: 100vw;
      opacity: 0.5; }
  @media (max-width: 767px) {
    .about .container {
      flex-direction: column; }
    .about .about__content h2 {
      width: 100%; }
    .about .about__content p {
      width: 100%; }
    .about .about__content a {
      display: none; }
    .about .about__image {
      position: static;
      width: 100%;
      margin: 0; }
    .about .about__image__overlay {
      bottom: auto;
      top: 50px; }
      .about .about__image__overlay img {
        width: 150vw; } }

.companies {
  padding: 5.2083333333vw 0; }
  .companies .container {
    flex-direction: column; }
  .companies .companies__content {
    margin-bottom: 2.6041666667vw; }
    .companies .companies__content h2 {
      font-size: clamp(48px, 6.25vw, 140px);
      font-family: "Founders Grotesk";
      font-weight: 500;
      margin: 0; }
    .companies .companies__content p {
      font-size: clamp(20px, 1.25vw, 40px);
      width: 60%; }
  .companies .companies__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5625vw;
    margin-bottom: 5.2083333333vw; }
  .companies .button {
    align-self: center; }
  .companies--inner-page {
    padding: 75px 0;
    background: #f1f2f3; }
    .companies--inner-page .companies__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.125vw;
      margin-bottom: 0; }
      @media (max-width: 991px) {
        .companies--inner-page .companies__container {
          grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .companies .companies__content p {
      width: 100%; }
    .companies .companies__container {
      grid-template-columns: repeat(2, 1fr); } }

.company {
  aspect-ratio: 1;
  position: relative; }
  .company .company__image {
    width: 100%;
    height: 100%;
    border: 1px solid #d5d9dc;
    display: flex;
    justify-content: center;
    align-items: center; }
    .company .company__image img {
      vertical-align: top;
      width: 60%;
      height: 40%;
      object-fit: contain;
      filter: grayscale(1); }
  .company .company__content {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5625vw;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: 0.35s; }
    .company .company__content h3 {
      font-size: 1.5625vw;
      margin: 0; }
    .company .company__content p {
      font-size: clamp(14px, 0.7291666667vw, 20px);
      margin: 0.5208333333vw 0; }
    .company .company__content a {
      font-size: 0.8333333333vw;
      color: #8b959e;
      font-weight: 400; }
      .company .company__content a:hover {
        color: #000000; }
  .company:hover .company__content {
    opacity: 1; }
  .company--inner {
    background: white;
    aspect-ratio: auto;
    border: 1px solid #d5d9dc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    transition: box-shadow 0.35s;
    display: flex;
    flex-direction: column; }
    .company--inner .company__image {
      text-align: center;
      padding: 1.5625vw;
      border: 0; }
      .company--inner .company__image img {
        width: clamp(200px, 12.5vw, 280px);
        height: clamp(100px, 6.25vw, 140px);
        object-fit: contain;
        transition: 0.35s; }
    .company--inner .company__content {
      position: relative;
      height: auto;
      opacity: 1;
      border: 0;
      padding-top: 0;
      text-align: center; }
      .company--inner .company__content h3 {
        font-size: clamp(20px, 1.25vw, 40px);
        font-family: "Founders Grotesk";
        font-weight: 500; }
      .company--inner .company__content p {
        margin: 10px 0 10px;
        display: none;
        font-size: clamp(16px, 0.8333333333vw, 20px); }
      .company--inner .company__content a {
        margin-top: 0.5208333333vw;
        display: inline-block;
        font-size: 16px;
        font-size: clamp(16px, 0.8333333333vw, 20px); }
    .company--inner:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
      .company--inner:hover .company__image img {
        filter: grayscale(0); }

.testimonials {
  padding: 7.8125vw 0; }

.testimonial {
  display: flex;
  width: 100%;
  gap: 7.8125vw; }
  .testimonial .testimonial__content,
  .testimonial .testimonial__image {
    flex: 1; }
  .testimonial .testimonial__image img {
    width: 100%; }
  .testimonial .testimonial__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .testimonial .testimonial__content .testimonial__content__text {
      font-size: 1.875vw;
      line-height: 1.3;
      color: #8b959e;
      font-weight: 500; }
    .testimonial .testimonial__content .testimonial__content__name {
      font-size: 1.6666666667vw;
      font-weight: 600; }
    .testimonial .testimonial__content .testimonial__content__designation {
      font-size: 0.9375vw;
      color: #8b959e; }

.stories {
  padding: 5.2083333333vw 0 7.8125vw;
  background-color: #d5d9dc; }
  .stories .stories__header {
    margin-bottom: 1.5625vw; }
    .stories .stories__header h2 {
      font-size: clamp(48px, 6.25vw, 140px);
      font-family: "Founders Grotesk";
      font-weight: 500;
      margin: 0; }
    .stories .stories__header p {
      font-size: clamp(20px, 1.25vw, 40px);
      width: 60%; }
  .stories .stories__holder {
    display: flex;
    gap: 3.125vw;
    width: 100%; }
  .stories .stories__all {
    justify-content: center;
    margin-top: 70px; }
  .stories.stories--inner-page {
    background-color: transparent;
    padding-top: 0;
    position: relative;
    z-index: 1; }
    .stories.stories--inner-page .stories__holder {
      gap: 1.5625vw;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .stories .stories__header p {
      width: 100%; }
    .stories .stories__holder {
      flex-direction: column; }
    .stories.stories--inner-page {
      background-color: transparent; }
      .stories.stories--inner-page .stories__holder {
        gap: 1.5625vw;
        flex-direction: column; } }

.story {
  background-color: white;
  border-radius: 8px;
  flex: 1; }
  .story .story__image {
    width: 100%;
    aspect-ratio: 1.8; }
    .story .story__image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0; }
  .story .story__content {
    padding: 2.6041666667vw; }
    .story .story__content .story__content__title {
      font-size: clamp(24px, 1.6666666667vw, 42px);
      font-weight: 600;
      line-height: 1.3;
      margin: 10px 0 36px; }
    .story .story__content .tag {
      font-size: 16px;
      color: #8b959e;
      text-transform: uppercase;
      letter-spacing: 5px;
      display: flex;
      align-items: center;
      gap: 10px; }
      .story .story__content .tag:before {
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        background-color: #d5d9dc; }
    .story .story__content .story__content__more {
      display: flex;
      justify-content: flex-end; }
  .story.story--inner {
    width: calc(33.3% - 1.05vw);
    flex: none;
    background: #f1f2f3; }
    .story.story--inner .story__image {
      width: 100%; }
      .story.story--inner .story__image img {
        width: 100%;
        aspect-ratio: 1.5;
        object-fit: cover;
        vertical-align: top; }
    .story.story--inner .story__content {
      padding: 1.5625vw; }
      .story.story--inner .story__content .tag {
        font-size: 12px; }
      .story.story--inner .story__content .story__content__title {
        font-size: clamp(24px, 1.6666666667vw, 42px); }
      .story.story--inner .story__content .button__more {
        font-size: 16px; }
    .story.story--inner:first-child {
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid #d5d9dc;
      background: white;
      backdrop-filter: blur(50px); }
      .story.story--inner:first-child .story__image {
        flex: 1.45;
        aspect-ratio: auto;
        padding: 10px; }
        .story.story--inner:first-child .story__image img {
          aspect-ratio: auto;
          height: 100%;
          border-radius: 8px; }
      .story.story--inner:first-child .story__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .story.story--inner:first-child .story__content h3 {
          margin-bottom: 0;
          font-size: clamp(24px, 1.6666666667vw, 42px); }
        .story.story--inner:first-child .story__content p {
          font-size: clamp(14px, 0.8333333333vw, 20px); }
    @media (max-width: 767px) {
      .story.story--inner {
        width: 100%; }
        .story.story--inner:first-child {
          flex-direction: column; } }

.cta {
  background-color: #1141e9;
  height: 130vh;
  padding: 250px 0 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -10px; }
  .cta .container {
    height: 100%; }
  .cta .cta__image {
    height: 100%;
    aspect-ratio: 0.6;
    overflow: hidden;
    border-radius: 10px;
    margin: auto; }
    .cta .cta__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: .8;
      margin-top: -100px;
      border-radius: 10px; }
  .cta .cta__image-right,
  .cta .cta__image-left {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    opacity: .8; }
    .cta .cta__image-right img,
    .cta .cta__image-left img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cta .cta__image-right {
    right: 10vw;
    top: 500px;
    height: 295px;
    width: 295px; }
  .cta .cta__image-left {
    left: 10vw;
    bottom: 400px;
    height: 280px;
    width: 175px; }
  .cta .cta__content {
    position: absolute;
    margin: auto;
    width: 1px;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100px; }
    .cta .cta__content .cta__content__left {
      position: absolute;
      top: 25%;
      font-size: 50px;
      color: white;
      text-align: right;
      display: inline-block;
      right: calc(100% + 20px);
      width: 500px;
      font-weight: 300; }
      .cta .cta__content .cta__content__left .split-item {
        display: block; }
    .cta .cta__content .cta__content__right {
      position: absolute;
      bottom: 25%;
      font-size: 72px;
      color: #ffd200;
      left: 100%;
      width: 740px;
      font-weight: 500; }
      .cta .cta__content .cta__content__right .split-item {
        display: block; }

.cta-bottom {
  padding: 0 0 250px; }
  .cta-bottom .container {
    align-items: center;
    flex-direction: column; }
  .cta-bottom h2 {
    font-size: 72px;
    text-align: center;
    color: #012f72;
    max-width: 85%;
    line-height: 1.4;
    margin: 0; }
    .cta-bottom h2.gray {
      color: #454545;
      font-weight: 200; }
    .cta-bottom h2 .split-item {
      display: block; }

.feature-content {
  padding: 180px 0 80px; }
  .feature-content .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .feature-content .container h2 {
      font-size: 60px;
      color: #454545;
      /* max-width: 1170px; */
      font-weight: 200;
      margin: 0 auto 50px; }
      .feature-content .container h2.blue {
        color: #012f72;
        font-size: 72px;
        font-weight: 700;
        margin-top: -40px; }
      .feature-content .container h2 .split-item {
        display: block; }
    .feature-content .container p {
      font-size: 18px;
      line-height: 1.8;
      color: #454545;
      max-width: 1000px;
      font-weight: 300; }
      .feature-content .container p .split-item {
        display: block; }

.features {
  padding: 100px 0;
  position: relative; }

.feature {
  position: relative;
  position: sticky;
  border: 2px solid white;
  top: 0;
  padding: 115px 30px;
  border-radius: 20px;
  background-color: #dff1ff;
  margin: 0 80px 225px;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center; }
  .feature .head {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 14px;
    color: #012f72;
    opacity: .3; }
  .feature .container {
    gap: 50px; }
  .feature .feature__content,
  .feature .feature__image {
    flex: 1; }
  .feature .feature__content h2 {
    font-size: 56px;
    margin-top: 0;
    margin-top: 70px;
    font-weight: 600;
    background: linear-gradient(to right, #0a278f 0%, #1245ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }
  .feature .feature__content p {
    font-weight: 300;
    line-height: 1.8;
    max-width: 85%;
    margin: 0; }
  .feature .feature__image {
    min-height: 550px;
    justify-content: center;
    align-items: center;
    display: flex; }
    .feature .feature__image .image-container {
      width: 60%;
      height: 100%;
      border-radius: 500px;
      background-color: white; }
  .feature:nth-child(1) {
    top: 50px; }
  .feature:nth-child(2) {
    top: 75px; }
  .feature:nth-child(3) {
    top: 100px; }
  .feature:nth-child(4) {
    top: 125px; }
  .feature:nth-child(5) {
    top: 150px; }
  .feature:last-child {
    margin-bottom: 225px; }

.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #000000;
  color: #d5d9dc;
  position: relative; }
  .parallax .parallax__image {
    opacity: 0.6;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .parallax .parallax__image img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .parallax h2 {
    font-size: clamp(48px, 3.125vw, 80px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Founders Grotesk";
    font-weight: 400;
    margin: 0; }
  @media (max-width: 1024px) {
    .parallax h2 {
      width: 70%; } }
  @media (max-width: 767px) {
    .parallax h2 {
      width: 90%;
      font-size: 36px; }
    .parallax .parallax__image img {
      height: 100%; } }

.banner {
  padding: 5.2083333333vw 0; }
  .banner h1 {
    font-size: clamp(48px, 6.25vw, 130px);
    line-height: 1;
    margin: 0;
    font-family: "Founders Grotesk";
    font-weight: 500;
    position: relative;
    z-index: 1;
    text-transform: uppercase; }
    .banner h1 span {
      color: #ff1423; }
    .banner h1 .c10 {
      width: 34.6354166667vw;
      display: block;
      margin: 1.0416666667vw 0 2.0833333333vw; }
  .banner .banner__sub-heading {
    font-size: 1.6666666667vw;
    font-weight: 300;
    width: 39.0625vw;
    position: relative;
    z-index: 1;
    margin-top: 1.5625vw; }
  .banner.banner--team {
    position: relative;
    z-index: 0;
    padding: 6.25vw 0 5.2083333333vw; }
    .banner.banner--team:before {
      content: "";
      width: 100%;
      height: 230%;
      position: absolute;
      background: url("../images/circle-image.png") no-repeat;
      top: -86px;
      right: 0;
      background-size: contain;
      background-position: right top;
      z-index: 1; }
  .banner.banner--companies {
    position: relative;
    z-index: 1;
    padding: 5.2083333333vw 0; }
    .banner.banner--companies .banner__sub-heading {
      font-size: 1.6666666667vw;
      font-weight: 300;
      width: 52.0833333333vw;
      position: relative;
      z-index: 1; }
    .banner.banner--companies:before {
      content: "";
      width: 100%;
      height: 41.6666666667vw;
      position: absolute;
      background: url("../images/company-lines.svg") no-repeat top right;
      top: -40px;
      right: 0;
      background-size: 90%;
      z-index: 1; }
  .banner.banner--process {
    position: relative;
    z-index: 1; }
    .banner.banner--process .banner__sub-heading {
      width: 52.0833333333vw; }
    .banner.banner--process:before {
      content: "";
      height: 53.125vw;
      width: 100%;
      position: absolute;
      background: url("../images/process-lines.svg") no-repeat top right;
      top: -80px;
      right: 9.375vw;
      background-size: contain;
      z-index: 1; }
  .banner.banner--contact {
    position: relative;
    z-index: 1; }
    .banner.banner--contact .banner__sub-heading {
      width: 52.0833333333vw; }
    .banner.banner--contact:before {
      content: "";
      height: 70vh;
      width: 100%;
      position: absolute;
      background: url("../images/contact-lines.svg") no-repeat top right;
      top: -180px;
      right: 0;
      background-size: 100%;
      opacity: 0.5;
      z-index: 1; }
  .banner.banner--careers {
    position: relative;
    z-index: 1; }
    .banner.banner--careers .banner__sub-heading {
      width: 52.0833333333vw; }
    .banner.banner--careers:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: url("../images/company-lines.svg") no-repeat bottom right;
      top: -80px;
      right: 0;
      background-size: 100%;
      opacity: 0.5;
      z-index: 1; }

.tab {
  padding: 0.5208333333vw 2.6041666667vw 0.625vw;
  border: 1.5px solid #8b959e;
  border-radius: 50px;
  font-size: clamp(16px, 1.0416666667vw, 24px);
  font-weight: 500;
  font-family: "Founders Grotesk";
  display: block;
  transition: 0.35s;
  background: white; }
  .tab:hover, .tab--active {
    background: black;
    color: white; }

.member {
  display: flex;
  flex-direction: column; }
  .member .member__image img {
    width: 100%;
    aspect-ratio: 0.95;
    object-fit: cover;
    vertical-align: top;
    border-radius: 8px 8px 0 0;
    object-position: top; }
  .member .member__content {
    padding: clamp(20px, 1.1458333333vw, 24px);
    border: 1px solid #d5d9dc;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    flex: 1; }
    .member .member__content .member__content__name {
      font-size: clamp(24px, 1.875vw, 48px);
      font-family: "Founders Grotesk";
      font-weight: 500;
      margin-bottom: 0.5208333333vw; }
    .member .member__content .member__content__designation {
      font-size: clamp(16px, 0.9375vw, 24px);
      color: #8b959e;
      max-width: 80%; }
  @media (max-width: 1024px) {
    .member .member__content .member__content__designation {
      font-size: clamp(16px, 0.9375vw, 24px);
      color: #8b959e;
      max-width: 100%; } }

.sponsors {
  padding: 7.8125vw 0 5.2083333333vw;
  background-color: #d5d9dc; }
  .sponsors .logos-container ul {
    display: flex;
    gap: 3.6458333333vw;
    align-items: center;
    justify-content: center; }
    .sponsors .logos-container ul li img {
      vertical-align: top;
      width: 13.0208333333vw;
      object-fit: contain;
      filter: grayscale(1); }
      .sponsors .logos-container ul li img:hover {
        filter: grayscale(0); }
  @media (max-width: 767px) {
    .sponsors .logos-container {
      overflow: hidden; }
      .sponsors .logos-container ul li img {
        width: 124px;
        height: 80px; } }

.founder-members {
  display: flex;
  width: 100%;
  gap: 1.5625vw;
  align-items: flex-start; }
  .founder-members .founder-members__content h2 {
    font-size: 1.6666666667vw;
    color: #ff1423;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0; }
  .founder-members .founder-members__content p {
    font-size: 1.25vw;
    float: left;
    font-weight: 300; }

.founder-outline {
  font-size: 13.0208333333vw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d5d9dc;
  text-transform: uppercase;
  color: transparent;
  position: absolute;
  top: 13.0208333333vw;
  left: 9.375vw; }

.founder-member {
  flex: 1;
  position: relative; }
  .founder-member .founder-member__image {
    position: relative;
    z-index: 1; }
    .founder-member .founder-member__image img {
      width: 100%;
      vertical-align: top; }
    .founder-member .founder-member__image .intro {
      width: 100%;
      height: 100%;
      padding: 1.5625vw;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.35s;
      display: flex;
      align-items: flex-end;
      color: white;
      font-size: 0.8333333333vw; }
  .founder-member .founder-member__name h4 {
    font-size: 1.6666666667vw;
    margin: 0.8333333333vw 0 0.4166666667vw;
    font-family: "Founders Grotesk";
    font-weight: 500; }
  .founder-member .founder-member__name p {
    font-size: 0.8333333333vw;
    margin: 0;
    font-weight: 300; }
  .founder-member:after {
    content: "";
    width: 14.1666666667vw;
    height: 18.2291666667vw;
    background-color: #ff1423;
    display: inline-block;
    position: absolute;
    top: -0.78125vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; }
  .founder-member:nth-child(1) {
    margin-top: 7.8125vw; }
    .founder-member:nth-child(1)::after {
      left: -0.78125vw;
      transform: none; }
  .founder-member:nth-child(3) {
    margin-top: -7.8125vw; }
    .founder-member:nth-child(3)::after {
      left: auto;
      right: -0.78125vw;
      transform: none; }
  .founder-member:hover .founder-member__image .intro {
    opacity: 1; }

.founder__content {
  font-size: 1.875vw;
  margin-bottom: 3.90625vw;
  font-weight: 400; }
  .founder__content a {
    text-decoration: underline;
    color: #8b959e; }
    .founder__content a:hover {
      color: #ff1423; }

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: 7.8125vw;
  margin-bottom: 5.2083333333vw;
  width: 100%; }
  .links ul {
    display: flex;
    gap: 1.0416666667vw; }
    .links ul li a {
      font-size: 1.5625vw;
      font-family: "Founders Grotesk";
      display: inline-block; }
      .links ul li a:after {
        content: "";
        display: block;
        width: 60%;
        height: 3px;
        background: #ff1423;
        transition: width 0.35s; }
      .links ul li a:hover::after {
        width: 100%; }

.members {
  padding: 5.2083333333vw 0; }
  .members .container {
    gap: 30px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .members .container .member {
      height: 100%; }
  @media (max-width: 1024px) {
    .members .container {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 991px) {
    .members .container {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .members .container {
      grid-template-columns: repeat(1, 1fr); } }

.process {
  padding: 10.4166666667vw 0 5.2083333333vw;
  position: relative;
  z-index: 1; }
  .process .container {
    align-items: flex-start; }
  .process .process__box {
    flex: 1;
    padding: 50px;
    background-color: #d5d9dc;
    height: 15.625vw; }
    .process .process__box .process__box__title {
      font-size: 1.6666666667vw;
      font-weight: 500;
      font-family: "Founders Grotesk";
      margin-bottom: 2.6041666667vw; }
      .process .process__box .process__box__title:before {
        content: "03";
        font-style: italic;
        display: inline-block;
        margin-right: 10px;
        opacity: 0.5;
        font-weight: 400; }
    .process .process__box .process__box__content {
      font-size: clamp(16px, 0.9375vw, 24px); }
    .process .process__box:nth-child(1) {
      margin-top: -10.4166666667vw; }
      .process .process__box:nth-child(1) .process__box__title:before {
        content: "01"; }
    .process .process__box:nth-child(3) {
      background: rgba(213, 217, 220, 0.3); }
      .process .process__box:nth-child(3) .process__box__title:before {
        content: "01"; }
    .process .process__box:nth-child(2) {
      margin-top: -5.2083333333vw;
      background: rgba(213, 217, 220, 0.6); }
      .process .process__box:nth-child(2) .process__box__title:before {
        content: "02"; }

.jobs {
  background: #f1f2f3;
  padding: 50px 0 100px; }
  .jobs .container {
    flex-direction: column; }
  .jobs .page-content {
    font-size: clamp(18px, 1.25vw, 28px);
    line-height: 1.5;
    margin-bottom: 2.6041666667vw;
    max-width: 66.6666666667vw; }
  .jobs .list {
    width: 100%; }
    .jobs .list ul li {
      border-bottom: 1px solid #d5d9dc; }
      .jobs .list ul li:first-child {
        border-top: 1px solid #d5d9dc; }
      .jobs .list ul li a {
        font-size: clamp(18px, 1.25vw, 28px);
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        transition: 0.35s; }
        .jobs .list ul li a:hover {
          background-color: #000000;
          color: white; }
        .jobs .list ul li a:after {
          content: ">"; }
  .jobs--inner {
    background: white;
    position: relative; }
    .jobs--inner .container {
      flex-direction: row; }
      .jobs--inner .container .job-content {
        flex: 1;
        font-size: clamp(18px, 1.0416666667vw, 24px); }
      .jobs--inner .container .job-title {
        flex: 0.5;
        font-size: 3.125vw;
        font-weight: bold;
        color: #ff1423;
        position: sticky;
        top: 50px; }

.contact .container {
  margin-bottom: 50px;
  width: 100%; }
  .contact .container .hbspt-form {
    width: 75%; }
    .contact .container .hbspt-form input {
      border: 1px solid red; }

/*# sourceMappingURL=style.css.map */
