$mit-red: #750014;
$silver-gray: #8b959e;
$bright-red: #ff1423;
$black: #000000;
$white: white;
$gray-lightest: #f1f2f3;
$gray-light: #d5d9dc;

$default: 1012;
$screen: 1920;

$founder: "Founders Grotesk";
