.contact{
    .container{
        margin-bottom: 50px;
        width: 100%;
        .hbspt-form{
            width: 75%;
            input{
                border: 1px solid red;
            }
        }
    }
}