.process {
  $self: &;
  padding: scale(200) 0 scale(100);
  position: relative;
  z-index: 1;
  .container {
    align-items: flex-start;
  }

  #{$self}__box {
    flex: 1;
    padding: scale(50);
    background-color: $gray-light;
    min-height: scale(300);

    #{$self}__box__title {
      font-size: scale(32);
      font-weight: 500;
      font-family: $founder;
      margin-bottom: scale(50);

      &:before {
        content: "03";
        font-style: italic;
        display: inline-block;
        margin-right: 10px;
        font-weight: 400;
        color: $bright-red;
      }
    }

    #{$self}__box__content {
      font-size: clamp(16px, scale(18), 24px);
    }

    &:nth-child(1) {
      margin-top: scale(-200);

      #{$self}__box__title {
        &:before {
          content: "01";
        }
      }
    }

    &:nth-child(3) {
      background: rgba($gray-light, 0.3);

      #{$self}__box__title {
        &:before {
          content: "01";
        }
      }
    }

    &:nth-child(2) {
      margin-top: scale(-100);
      background: rgba($gray-light, 0.6);

      #{$self}__box__title {
        &:before {
          content: "02";
        }
      }
    }
  }
}
