.jobs {
  background: $gray-lightest;
  padding: 50px 0 100px;
  .container {
    flex-direction: column;
  }

  .page-content {
    font-size: clamp(18px, scale(24), 28px);
    line-height: 1.5;
    margin-bottom: scale(50);
    max-width: scale(1280);

    @include xs {
      max-width: none;
    }
  }

  .list {
    width: 100%;
    ul {
      li {
        border-bottom: 1px solid $gray-light;
        &:first-child {
          border-top: 1px solid $gray-light;
        }

        a {
          font-size: clamp(18px, scale(24), 28px);
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          padding: 30px;
          transition: 0.35s;
          &:hover {
            background-color: $black;
            color: $white;
          }
          &:after {
            content: ">";
          }
          @include xs {
            padding: 30px 0;
          }
        }
      }
    }
  }

  &--inner {
    background: $white;
    position: relative;
    .container {
      flex-direction: column;

      .job-content {
        flex: 1;
        font-size: clamp(18px, scale(20), 24px);
        line-height: 1.5;
        max-width: clamp(500px, 100%, 1440px);
        a {
          color: $bright-red;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .job-title {
        // position: sticky;
        // top: 50px;
        display: flex;
        h1 {
          font-size: clamp(30px, scale(60), 120px);
          font-weight: 600;
          color: $bright-red;
          max-width: clamp(500px, 100%, 1140px);
          margin-bottom: 0;
          line-height: 1.1;
        }
        flex-direction: column;
        .btn-back {
          display: inline-flex;
          gap: 10px;
          font-size: 16px;
          color: $black;
          font-weight: 400;
          width: fit-content;
          transition: 0.35s;
          cursor: pointer;
          img {
            width: 10px;
            display: inline-block;
            transition: 0.35s;
          }
          &:hover {
            img {
              transform: translateX(-5px);
            }
          }
        }
      }
      @include xs {
        flex-direction: column;
      }
    }
  }
}
