.founder-members {
  $self: &;
  display: flex;
  width: 100%;
  gap: scale(30);

  align-items: flex-start;
  @include sm {
    margin: 100px 0;
  }

  @include xs {
    flex-direction: column;
  }
}
.founder-outline {
  font-size: scale(250);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $gray-light;
  text-transform: uppercase;
  color: transparent;
  position: absolute;
  top: scale(300);
  left: scale(180);
  @include sm {
    display: none;
  }
}

.founder-member {
  $self: &;
  flex: 1;
  position: relative;

  #{$self}__image {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      vertical-align: top;
    }
    .intro {
      width: 100%;
      height: 100%;
      padding: scale(30);
      background: rgba($color: #000000, $alpha: 0.8);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.35s;
      display: flex;
      align-items: flex-end;
      color: white;
      font-size: clamp(16px, scale(16), 24px);
    }
  }

  #{$self}__name {
    h4 {
      font-size: clamp(24px, scale(32), 48px);
      margin: scale(16) 0 scale(8);
      font-family: $founder;
      font-weight: 500;
    }
    p {
      font-size: clamp(14px, scale(16), 24px);
      margin: 0;
      font-weight: 300;
    }
  }

  &:after {
    content: "";
    width: clamp(200px, scale(272), 400px);
    height: clamp(300px, scale(350), 500px);
    background-color: $bright-red;
    display: inline-block;
    position: absolute;
    top: scale(-15);
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  &:nth-child(1) {
    margin-top: scale(150);
    &::after {
      left: scale(-15);
      transform: none;
    }
  }
  &:nth-child(3) {
    margin-top: scale(-150);
    &::after {
      left: auto;
      right: scale(-15);
      transform: none;
    }
  }

  &:hover {
    #{$self}__image {
      .intro {
        opacity: 1;
      }
    }
  }

  @include sm {
    margin-bottom: 50px;
    margin-top: 0 !important;
    #{$self}__image {
      .intro {
        font-size: 14px;
        padding: 15px;
      }
    }
    #{$self}__name {
    }
  }
}

.founder__content {
  font-size: clamp(20px, scale(36), 48px);
  margin-bottom: scale(75);
  font-weight: 400;
  a {
    text-decoration: underline;
    color: $silver-gray;
    &:hover {
      color: $bright-red;
    }
  }
  @include sm {
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: scale(150);
  margin-bottom: scale(100);
  width: 100%;

  ul {
    display: flex;
    gap: scale(20);
    li {
      a {
        font-size: clamp(20px, scale(30), 36px);
        font-family: $founder;
        display: inline-block;
        &:after {
          content: "";
          display: block;
          width: 60%;
          height: 3px;
          background: $bright-red;
          transition: width 0.35s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  @include sm {
    justify-content: flex-start;
    background: $gray-lightest;
    padding: 15px;
    margin-top: 0;
    ul {
      gap: 15px;
    }
  }
}

.members {
  padding: scale(100) 0;
  .container {
    gap: 30px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .member {
      // width: calc(33.3% - 20px);
      height: 100%;
    }
  }
  @include lg {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include sm {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include xs {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
