.header {
  background: rgba($gray-lightest, 0.9);
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 84px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  // position: relative;
  backdrop-filter: blur(20px);

  .container {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: clamp(200px, scale(267), 300px);
    img {
      width: 100%;
    }
  }
  &--dark {
    background: rgba($color: #000000, $alpha: 0.2);

    .nav .nav__item {
      color: white;
    }
  }

  .menu-button {
    position: absolute;

    right: 20px;
    top: 31px;
    display: none !important;
    span {
      width: 27px;
      height: 3px;
      background: $black;
      display: block;
      margin-bottom: 3px;
      transition: 0.35s;
    }

    &.show {
      span {
        &:first-child {
          opacity: 0;
        }
        &:nth-child(2) {
          background: $bright-red;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          background: $bright-red;
          transform: rotate(-45deg);
          margin-top: -6px;
        }
      }
    }
    @include sm {
      display: block !important;
    }
  }
}
