.footer {
  $self: &;
  padding: scale(70) 0;
  color: $white;
  font-size: 14px;
  position: relative;
  background-color: $black;

  .container {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  #{$self}__left {
    display: flex;
    align-items: center;
    gap: 30px;
    #{$self}__logo {
      display: flex;
      width: 150px;

      img {
        height: auto;
        width: 100%;
      }
    }

    .social-media {
      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          img {
            vertical-align: top;
          }
        }
      }
    }
    @include xs {
      gap: 15px;
      justify-content: space-between;
      width: 100%;
      .social-media {
        img {
          width: 24px;
        }
      }
    }
  }

  #{$self}__nav {
    ul {
      display: flex;
      gap: 10px;

      li {
        a {
          font-size: 16px;
          color: $silver-gray;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .subscribe {
    width: 100%;
    padding: 30px 0;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($black, 0.7);
    border-top: 1px solid #464b4f;
    border-bottom: 1px solid #464b4f;

    h3 {
      font-size: clamp(16px, scale(20), 24px);
      margin: 0;
      color: $silver-gray;
      font-weight: 500;
    }

    p {
      font-size: clamp(14px, scale(16), 18px);
      margin: 0;
    }

    &__input {
      position: relative;
      width: scale(600);
      background-color: white;
      border-radius: 50px;
      padding: 5px;
      display: flex;
      color: $black;
      text-align: center;
      > div {
        width: 100%;

        > div {
          width: 100%;

          form {
            width: 100%;
            .hs-email {
              flex: 1;
              .hs-input {
                flex: 1;
                border-radius: 50px;
                border: 0;
                padding-right: 65px;
                padding-left: 10px;
                font-size: 16px;
                outline: none;
                height: 37px;
              }
            }
            .hs-submit {
              .actions {
                .hs-button {
                  background-color: $silver-gray;
                  color: white;
                  border-radius: 50px;
                  border: 0;
                  padding: 10px 30px;
                  margin-left: -60px;
                }
              }
            }
          }
        }
      }

      .hs-error-msgs {
        position: absolute;
        width: 100%;
        text-align: center;
        color: $bright-red;
        bottom: -26px;
        font-size: 12px;
      }
    }
  }

  .copy {
    a {
      color: $silver-gray;
      margin-right: 10px;
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: url("/footer-pattern.svg") no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;

    z-index: 0;
    mix-blend-mode: hard-light;
    opacity: 0.7;
  }

  @include md {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
    }

    #{$self}__nav {
      ul {
        flex-wrap: wrap;
        li {
          width: 48%;
          a {
            font-size: 12px;
          }
        }
      }
    }
    .subscribe {
      flex-direction: column;
      margin: 20px 0;
      align-items: center;
      text-align: center;
      gap: 20px;
      &__input {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
