.hero {
  $self: &;

  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $black;
  margin-top: -84px;

  #{$self}__image {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba($black, 0.6);
    }
  }

  #{$self}__content {
    position: relative;
    h1 {
      color: $bright-red;
      font-size: clamp(48px, scale(120), 140px);
      font-weight: 300;
      // font-family: $founder;
      text-transform: uppercase;
      line-height: 1;
      margin: 0;
      color: $white;

      span {
        display: inline-block;
        &.red {
          color: $bright-red;
        }
      }
    }
  }

  // Cohort

  .cohort {
    color: white;
    position: absolute;
    left: calc(50% + 3vw);
    bottom: scale(140);
    font-size: scale(54);
    font-family: $founder;
    font-weight: 500;
    span {
      font-size: 20px;
      display: block;
      margin-bottom: -15px;
      font-weight: normal;
      letter-spacing: 2px;
    }
    &:hover {
      color: $bright-red;
    }
    @include sm {
      left: 15px;
      font-size: 24px;
    }
  }

  @include md {
    height: 100vh;
  }

  @include sm {
    height: 80vh;
    #{$self}__image {
      video {
        display: none;
      }
      img {
        display: block;
      }
    }
    .cohort {
      font-size: 24px;
      left: 15px;
    }
  }

  .button {
    padding: 0 1.5625vw;
    margin-top: 1em;

    &:before {
      display: none;
    }
  }
}
