.nav {
  $self: &;
  display: flex;
  align-items: center;

  #{$self}__item {
    font-size: clamp(16px, scale(18), 20px);
    padding: 0 10px;
    transition: 0.35s;
    text-transform: uppercase;
    &:hover {
      color: $bright-red;
    }
    &--active {
      color: $bright-red;
    }
  }
  @include md {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 84px;
    width: 100%;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
      width: 100%;
      text-align: right;
      a {
        color: white;
      }
    }
  }
}
