.sponsors {
  padding: 100px 0;
  background-color: $gray-light;
  .logos-container {
    position: relative;
    z-index: 1;
    ul {
      display: flex;
      gap: scale(70);
      align-items: center;
      justify-content: center;
      li {
        img {
          vertical-align: top;
          height: 36px;
          width: auto;
          opacity: 0.4;
          display: inline-block;
          transition: 0.35s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  @include xs {
    .logos-container {
      overflow: hidden;
    }
  }
}
