.sponsors {
  padding: 100px 0;
  max-height: 236px;
  box-shadow: 0 20px 50px rgba($silver-gray, 0.1);
  position: relative;

  .title {
    @extend .container;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    pointer-events: none;
    h3 {
      font-family: $founder;
      font-size: 30px;
      font-weight: 500;
      position: relative;
      color: $silver-gray;
      text-transform: uppercase;
      &:before {
        content: "";

        width: 200%;
        height: 150px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.95) 15%,
          rgba(255, 255, 255, 0.95) 85%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    @include sm {
      display: none;
    }
  }

  .logos-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    width: 100%;

    .logos-slide {
      display: inline-block;
      animation: 35s slide infinite linear;
      display: flex;
      gap: 100px;

      img {
        vertical-align: top;
        height: 36px;

        // aspect-ratio: 6;
        opacity: 0.4;
        display: block;
        transition: 0.35s;
        object-fit: contain;
        &:first-child {
          margin-left: 100px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
    &:hover {
      .logos-slide {
        animation-play-state: paused;
      }
    }
  }
  @include xs {
    padding: 30px 0;
    max-height: 156px;
    .logos-container {
      overflow: hidden;
      .logos-slide {
        gap: 50px;

        img {
          height: 24px;
          &:first-child {
            margin-left: 50px;
          }
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
