.stories {
  $self: &;
  padding: scale(100) 0 scale(80);
  background-color: $gray-light;
  #{$self}__header {
    margin-bottom: scale(30);
    h2 {
      font-size: clamp(48px, scale(120), 140px);
      font-family: $founder;
      font-weight: 500;
      margin: 0;
    }
    p {
      font-size: clamp(20px, scale(24), 40px);
      width: 60%;
    }
  }
  #{$self}__holder {
    display: flex;

    gap: clamp(15px, scale(60), 80px);
    width: 100%;
  }

  #{$self}__all {
    justify-content: center;
    margin-top: scale(80);
  }
  &#{$self}--inner-page {
    background-color: transparent;
    padding-top: 0;
    // margin-top: scale(-80);
    position: relative;
    z-index: 1;

    #{$self}__holder {
      gap: clamp(15px, scale(60), 80px);
      flex-wrap: wrap;
    }
  }

  @include xs {
    #{$self}__header {
      p {
        width: 100%;
      }
    }
    #{$self}__holder {
      flex-direction: column;
    }

    &#{$self}--inner-page {
      background-color: transparent;

      #{$self}__holder {
        flex-direction: column;
      }
    }
  }
}

.story {
  $self: &;
  background-color: white;
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;

  #{$self}__image {
    width: 100%;
    aspect-ratio: 1.8;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      vertical-align: top;
    }
  }
  #{$self}__content {
    padding: clamp(15px, scale(50), 30px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #{$self}__content__title {
      font-size: clamp(20px, scale(32), 42px);
      font-weight: 600;
      line-height: 1.3;
      margin: 10px 0 36px;
    }
    .tag {
      font-size: 16px;
      color: $silver-gray;
      text-transform: uppercase;
      letter-spacing: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      &:before {
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        background-color: $gray-light;
      }
    }
    #{$self}__content__more {
      display: flex;
      justify-content: flex-end;
    }
  }
  &#{$self}--inner {
    width: calc(33.3% - 2.1vw);
    flex: none;
    background: $gray-lightest;
    #{$self}__image {
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 1.5;
        object-fit: cover;
        vertical-align: top;
      }
    }
    #{$self}__content {
      .tag {
        font-size: 12px;
      }
      #{$self}__content__title {
        font-size: clamp(20px, scale(32), 32px);
      }
      .button__more {
        font-size: 16px;
      }
    }
    &:first-child {
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid $gray-light;
      background: white;

      #{$self}__image {
        flex: 1.45;
        aspect-ratio: auto;
        padding: 10px;
        img {
          aspect-ratio: auto;
          height: 100%;
          border-radius: 8px;
        }
      }
      #{$self}__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: clamp(24px, scale(32), 42px);
        }
        p {
          font-size: clamp(14px, scale(16), 20px);
        }
      }
    }
    @include md {
      width: calc(50% - 1.7vw);
    }
    @include xs {
      width: 100%;
      &:first-child {
        flex-direction: column;
      }
    }
  }
}
