.tab {
  padding: scale(10) scale(50) scale(12);
  border: 1.5px solid $silver-gray;
  border-radius: 50px;
  font-size: clamp(18px, scale(20), 24px);
  font-weight: 500;
  font-family: $founder;
  display: block;
  transition: 0.35s;
  background: $white;
  white-space: nowrap;
  &:hover,
  &--active {
    background: black;
    color: white;
  }
  @include xs {
    padding: 6px 20px 8px;
    border-width: 1px;
  }
}
